@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html{
font-size: 62.5%;
font-family: "Roboto", sans-serif;
}

@media (max-width:600px){
    html{
        font-size:50%
        
    }
}
@layer components{
    .nav-items{
       @apply flex justify-between  items-center absolute  w-full px-10 h-28 top-0;
    }
    .logo{
        @apply text-5xl bg-blue-700 text-white font-bold items-center px-4 py-4 rounded-[5rem];

    }

.btn{
    @apply font-semibold text-2xl px-8 hidden lg:inline;
}
  .icons{
    @apply flex justify-center gap-5;
  }
  .car-img{
    @apply h-screen w-full object-cover;
  }

  .car-info{
    @apply absolute text-center top-[20%] left-[50%] translate-x-[-50%] translate-y-[-50%];
  }

.car-name{
    @apply text-[3rem] to-black font-bold mb-[2rem] mt-[6rem];
}
.car-prize{
    @apply text-[2rem] font-semibold  mb-[2rem];
}
.car-info{
    @apply text-2xl;
}

.hero{
    @apply absolute bottom-[15%]  left-[50%] translate-x-[-50%] translate-y-[-50%] flex gap-[2rem] justify-center  flex-col sm:flex-row  w-full text-center  px-10 ;
}


.order{
    @apply text-2xl font-bold text-white px-[9rem] py-[1.2rem] bg-slate-600 rounded-xl ;
}

.demo{
    @apply text-2xl font-bold text-black px-[9rem] py-[1.2rem] bg-white rounded-xl  ;
}
.car-tax{
    @apply absolute text-center text-2xl bottom-[4%] left-[50%] translate-x-[-50%] translate-y-[-50%]  ;
}
.span{
    @apply underline mt-20;
}
.car-nam{
    @apply  text-white  text-[40px] w-full font-bold mb-[2rem] mt-[6rem];
}
.car-priz{
    @apply  text-white text-[2rem]  font-thin  mb-[2rem];
}

}